
    <!DOCTYPE html>
    <html>
      <head>
        <title>forgot | Ecommerce</title>
        <meta name="description" content="Wow, so modern."></meta>
        <meta charset="utf-8"></meta>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"></meta>

        <link rel="stylesheet" href="/public/forgot.css" />

        <%- include('../shared/polyfills') -%>
      </head>
      <body>
        <%- include('../shared/header') -%>

        <h1>forgot</h1>

        <%- include('../shared/footer') -%>

        <script type="module" src="/public/forgot.js" async defer></script>
        <script type="nomodule" src="/public/forgot.nomodule.js" async defer></script>
      </body>
    </html>
  