<!DOCTYPE html>
<html>
  <head>
    <title>Login | Ecommerce</title>
    <meta name="description" content="Wow, so modern."></meta>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1"></meta>

    <%- include('../shared/polyfills') -%>
  </head>
  <body>
    <%- include('../shared/header') -%>

    <h1>Login</h1>

    <%- include('../shared/footer') -%>
  </body>
</html>
