<html>
  <head>
    <title>Login | Ecommerce</title>

    <%- include('../shared/polyfills') -%>
  </head>
  <body>
    <%- include('../shared/header') -%>

    <h1>Login</h1>

    <%- include('../shared/footer') -%>
  </body>
</html>
