<html>
  <head>
    <title>Home | Ecommerce</title>
    <link rel="stylesheet" href="/public/home.css" />

    <%- include('../shared/polyfills') -%>
  </head>
  <body>
    <%- include('../shared/header') -%>

    <h1>Home</h1>
    <div id="mount">
      <p>Gonna see how long it takes for this <b>bad boy</b> to get replaced</p>
    </div>

    <%- include('../shared/footer') -%>

    <script type="module" src="/public/home.js" async defer></script>
    <script type="nomodule" src="/public/home.nomodule.js" async defer></script>
  </body>
</html>
