:root {
  --dark: #1c2a39;
  --nav-height: 82px;
}

body {
  margin: 0;
  min-height: 100vh;
  width: 100vw;
}

* {
  color: var(--dark);
}

a {
  text-decoration: none;
  display: block;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  height: var(--nav-height);
}

#links {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;

  width: 100%;

  @media screen and (max-width: 767px) {
    visibility: hidden;
    position: absolute;
    top: var(--nav-height);
    right: -100vw;
    width: 0;
    overflow: hidden;
    height: calc(100vh - var(--nav-height));
    flex-direction: column;
    justify-content: flex-start;
    background: #fff;
  }

  li {
    margin: 0 10px;

    @media screen and (max-width: 767px) {
      width: 100%;
      margin-bottom: 10px;

      a {
        text-align: center;
        min-height: 50px;
        padding: 10px;
        line-height: 26px;
        font-size: 20px;
      }
      a.btn {
        margin: 10px;
      }
    }
  }
}
#hamburger[aria-expanded='true'] ~ #links {
  visibility: visible;
  left: 0;
  width: 100vw;
}

.icon {
  fill: var(--dark);
}

#link-home {
  display: inline-block;

  @media screen and (max-width: 767px) {
    width: 100%;
  }

  svg {
    width: 160px;

    @media screen and (max-width: 767px) {
        width: 260px;
    }
  }
}

#link-cart {
  padding: 9px; /* makes it 44px total for WCAG w/o shrinking svg */

  svg {
    width: 26px;
    margin-top: 3px;
  }

  @media screen and (max-width: 767px) {

      margin: 0 10px;
      padding: 4px; /* makes it 44px total for WCAG w/o shrinking svg */

    svg {
      width: 40px;
      margin-top: 3px;
    }
  }
}

#hamburger {
  visibility: hidden;
  width: 0;
  height: 0;
  border: none;
  padding: 0;
  margin: 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    visibility: visible;
    border: none;
    background: none;
    width: auto;
    height: 44px;
    overflow: visible;
    padding: 4px;

    transition: all 0.25s ease-in-out;

    div {
      width: 44px;
      height: 6px;
      border-radius: 6px;
      background: var(--dark);
      position: relative;

      transition: all 0.25s ease-in-out;
    }

    div::before,
    div::after {
      content: '';
      position: absolute;
      left: 0;
      width: 44px;
      height: 6px;
      border-radius: 6px;
      background: var(--dark);

      transition: all 0.25s ease-in-out;
    }

    div::before {
      transform: translateY(-16px);
    }
    div::after {
      transform: translateY(16px);
    }

    &[aria-expanded='true'] {
      div {
        background: transparent;

        &::before {
          transform: rotate(45deg) translate(0, 0);
        }

        &::after {
          transform: rotate(-45deg) translate(0, 0);
        }
      }
    }
  }
}

.btn {
  border: none;
  white-space: nowrap;
  padding: 9px 18px;
  text-decoration: none;
}

.btn--rounded {
  border-radius: 18px;
}

.btn__primary {
  background-color: var(--dark);
  color: #fff;
}

.btn__bordered--primary {
  border: solid 2px var(--dark);
  color: var(--dark);
  padding: 7px 16px;
}
